.section {
    width: 200px;
    height: 200px;
}
  
.section-green {
  color: blue;
  background-color: green;
}
.section-yellow {
  color: green;
  background-color: yellow;
}
.section-red {
  color: white;
  background-color: red;
}
.container {
  color: white;
  background-color: black;
}

#section-1 {
  color: white;
  background-color: blue;
}

#section-6 {
  color: white;
}
