.section {
    width: 150px;
    height: 200px;
}
  
.section-blue {
  color: green;
  background-color: yellow;

}
  
.container {
  color: red;
  background-color: black;

}

#section-1 {
  color: gray;
  background-color: blue;

}

#section-1 {
  color: gray;
  background-color: blue;

}
#section-6 {

}
