/* TODO: Add typography */
.section {
    font-family: Lucida Sans;
    background-color: #fffacd;
}

/* font weight bold */
#fact-1 {
  font-weight: bolder;
  font-weight: bold;
}

/* font size changed to 24px*/
#fact-2 {
  font-size: 24px;

}

/* line hight 50px */
#fact-3 {
  line-height: 50px;
  
}
