.section {
  background-color: gold;
}

#headers {
  color: rgb(11, 12, 12);
}

#EMAIL {
    background-color: rgb(77, 250, 9);
}

#GITHUB {
      background-color: rgb(31, 8, 240)
}
#LINKEDIN{
  background-color: hotpink;
}
#PORTFOLIO {
       background-color: rgb(243, 16, 16);
}
